<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cooperate! - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/chosen.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-2.0.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
</head>
<body>
    <div id="mainContainer">
        <header>
            <div id="headerContent">
                <div class="logo">
                    @Html.ActionLink(" ", "Index", "Home")
                </div>
                @Html.Partial("_Login")
            </div>
        </header>
        <div id="content">
            @if (User.Identity.IsAuthenticated)
            {
                @Html.Partial("_Nav")
            }
            <div id="realContent">
                <div id="websocketDebug"></div>
                @RenderBody()
            </div>
        </div>
        <div id="push"></div>
    </div>

   @* @if (User.Identity.IsAuthenticated)
    {
        <script type="text/javascript">
            var ws;

            function $(id) {
                return document.getElementById(id);
            }

            function createSpan(text) {
                var span = document.createElement('span');
                span.innerHTML = text + '<br />';
                return span;
            }

            window.onload = function () {
                var websocketDebug = $('websocketDebug');
                var url = 'ws://localhost:58930/CooperateWebsocket.ashx?login=@User.Identity.Name';
                ws = new WebSocket(url);

                ws.onerror = function (e) {
                    websocketDebug.appendChild(createSpan('Problem with connection: ' + e.message));
                };

                ws.onopen = function () {
                    websocketDebug.innerHTML = 'Client connected <br/>';
                };

                ws.onmessage = function (e) {
                    websocketDebug.appendChild(createSpan(e.data.toString()));
                };

                ws.onclose = function () {
                    websocketDebug.innerHTML = 'Closed connection!';
                };

            };
        </script>
    }*@

    <footer>
        @Html.Partial("_Footer")
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
