<nav>
    <div id="navContent">
        <div id="home">
            @Html.ActionLink("Strona główna","Index","Home")
        </div>
        <div id="groupCreate">
            @Html.ActionLink("Utwórz grupę", "Create", "Groups")
        </div>
        <div id="taskCreate">
            @Html.ActionLink("Nowe zadanie", "Create", "Tasks")
        </div>
        <div id="messages">
            @Html.ActionLink("Wiadomości", "", "")
        </div>
        <div id="groupList">
            @Html.ActionLink("Twoje grupy", "Index", "Groups")
        </div>
        <div id="taskList">
            @Html.ActionLink("Twoje zadania", "Index", "Tasks")
        </div>
    </div>
</nav>
