@model Cooperate_mvc.Models.TaskModel

@{
    ViewBag.Title = "Utwórz zadanie";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Nowe zadanie</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Deadline)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Deadline)
            @Html.ValidationMessageFor(model => model.Deadline)
        </div>

        <div class="editor-label">
            @Html.Label("Grupa")
        </div>
        <div class="editor-field">
            @Html.DropDownList(
            "Group_id",
            new SelectList(Model.GetGroups(User.Identity.Name), "Id", "Name"),
           "[Wybierz grupę]", new { id = "groups" }
        )
        </div>

        <div class="editor-label">
            @Html.Label("Użytkownik, do którego kierujemy zadanie")
        </div>
        <div class="editor-field">
            @{                
    foreach (var x in Model.GetGroups(User.Identity.Name))
    {
                @Html.DropDownList(
            "UserTo_id",
            new SelectList(Model.GetUsers(x.Id, User.Identity.Name), "Id", "Login"),
           "[Wybierz usera]", new { id = "users" + x.Id, @class = "userList" }
        )
    }
            }
        </div>

        <script>
            $('#groups').change(function () {
                $('.userList').each(function (i, e) {
                    $(e).css('display', 'none');
                    $(e).attr('name', 'Dupa');
                });
                $('#users' + $('#groups').val()).toggle();

                $('#users' + $('#groups').val()).attr('name', 'UserTo_id');
            });
        </script>

        <p>
            <input type="submit" value="Utwórz" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Task_Deadline").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
}
