@model Cooperate_mvc.Models.CreateTaskModel

@{
    ViewBag.Title = "Utwórz zadanie";
}

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    *@<fieldset>
        <legend>Nowe zadanie</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Task.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Task.Title)
            @Html.ValidationMessageFor(model => model.Task.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Task.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Task.Description)
            @Html.ValidationMessageFor(model => model.Task.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Task.Deadline)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Task.Deadline)
            @Html.ValidationMessageFor(model => model.Task.Deadline)
        </div>

        <div class="editor-label">
            @Html.Label("Grupa")
        </div>
        <div class="editor-field">
            @Html.Partial("_SelectGroup", Model)
        </div>

        <div class="editor-label">
            @Html.Label("Użytkownik, do którego kierujemy zadanie")
        </div>
        <div class="editor-field">
            <div id="Users">@Html.Partial("_SelectUserTo", Model)</div>
        </div>

        <p>
            <input type="submit" value="Utwórz" />
        </p>
    </fieldset>
@*}*@

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Task_Deadline").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
}
