@model Cooperate_mvc.Models.TaskModel

@{
    ViewBag.Title = "Szczegóły zadania";
}
<div class="framedContent">
    <fieldset>
        <legend>@Model.Title</legend>

        <div class="description">
            @Html.DisplayFor(modelItem => Model.Description)
        </div>
        <div class="info">
            Utworzono @Html.DisplayFor(modelItem => Model.CreationDate)
        </div>
        <div class="info">
            Termin wykonania: @Html.DisplayFor(modelItem => Model.Deadline)
        </div>

        @if (Model.ToMe)
        {
            <div class="info">
                Zlecone przez @Html.ActionLink(Model.UserFrom_login, "Details", "Account", new { login = Model.UserFrom_login }, null)
            </div>
        }
        else
        {
            <div class="info">
                Zlecone użytkownikowi @Html.ActionLink(Model.UserTo_login, "Details", "Account", new { login = Model.UserTo_login }, null)
            </div>
        }

        <div class="info">
            Aktualny status: @Html.DisplayFor(modelItem => Model.TaskStatus_name) (ostatnio zmieniony @Html.DisplayFor(modelItem => Model.StatusLastChange) przez @Html.ActionLink(Model.User_login_statusChangedBy, "Details", "Account", new { login = Model.User_login_statusChangedBy }, null))
        </div>
        <div class="info">
            Należy do grupy @Html.ActionLink(Model.Group_name, "Details", "Groups", new { id = Model.Group_id }, null)
        </div>
    </fieldset>
    <div class="links">
        @Html.ActionLink("Wróć do listy", "Index")
        @if (Model.UserFrom_login.Equals(User.Identity.Name))
        {
            @: |
            @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id })
        }
    </div>
</div>
