@model IEnumerable<Cooperate_mvc.Models.TaskModel>

@{
    ViewBag.Title = "Index";
}
<div class="framedContent">
    <div class="indexList">
        <div class="header">
            Zadania do wykonania
        </div>
        @{
            var tasks = Model.Where(m => m.ToMe.Equals(true)).ToArray();
            if (tasks.Length > 0)
            {
                foreach (var item in tasks)
                {
            <fieldset>
                <legend>
                    @Html.ActionLink(item.Title, "Details", new { id = item.Id })
                </legend>
                <div class="description">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
                <div class="info">
                    Termin wykonania: @Html.DisplayFor(modelItem => item.Deadline)
                </div>
                <div class="info">
                    Aktualny status: @Html.DisplayFor(modelItem => item.TaskStatus_name) (ostatnio zmieniony @Html.DisplayFor(modelItem => item.StatusLastChange) przez @Html.ActionLink(item.User_login_statusChangedBy, "Details", "Account", new { login = item.User_login_statusChangedBy }, null))
                </div>
            </fieldset>
                }

            }
            else
            {
            <p>brak zadań</p>
            }
        }
    </div>
</div>
<div class="framedContent">
    <div class="indexList">
        <div class="header">
            Zlecone zadania
        </div>
        @{
            var tasks2 = Model.Where(m => m.ToMe.Equals(false)).ToArray();
            if (tasks2.Length > 0)
            {
                foreach (var item in tasks2)
                {
            <fieldset>
                <legend>
                    @Html.ActionLink(item.Title, "Details", new { id = item.Id })
                </legend>
                <div class="description">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
                <div class="info">
                    Termin wykonania: @Html.DisplayFor(modelItem => item.Deadline)
                </div>
                <div class="info">
                    Aktualny status: @Html.DisplayFor(modelItem => item.TaskStatus_name) (ostatnio zmieniony @Html.DisplayFor(modelItem => item.StatusLastChange) przez @Html.ActionLink(item.User_login_statusChangedBy, "Details", "Account", new { login = item.User_login_statusChangedBy }, null))
                </div>
                <div class="links">
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                     @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                </div>
            </fieldset>
                }
            }
            else
            {
            <p>brak zadań</p>
            }
        }
    </div>
</div>
