@model Cooperate_mvc.Models.UserModel

@{
    ViewBag.Title = "Rejestracja";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="sign">
        <div id="sign-box">
            @Html.LabelFor(model => model.Login)
            <div>
                @Html.EditorFor(model => model.Login)
                @Html.ValidationMessageFor(model => model.Login)
            </div>
            @Html.LabelFor(model => model.FirstName)
            <div>
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>

            @Html.LabelFor(model => model.LastName)
            <div>
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>

            @Html.LabelFor(model => model.Birth)
            <div>
                @Html.EditorFor(model => model.Birth)
                @Html.ValidationMessageFor(model => model.Birth)
            </div>

            @Html.LabelFor(model => model.Email)
            <div>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            @Html.LabelFor(model => model.Pass)
            <div>
                @Html.PasswordFor(model => model.Pass)
                @Html.ValidationMessageFor(model => model.Pass)
            </div>
            @Html.LabelFor(model => model.ConfirmPassword)
            <div>
                @Html.PasswordFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
            <input type="submit" value="Zarejestruj" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Birth").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
}
