@model Cooperate_mvc.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>User</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User_login)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User_login)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User_firstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User_firstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User_lastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User_lastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User_birth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User_birth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User_email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User_email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User_pass)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User_pass)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
    </p>
}
