@model Cooperate_mvc.Models.User

@{
    ViewBag.Title = @Html.DisplayFor(model => model.User_login);
}
<div class="realContent">
    <fieldset>
        <legend>Profil użytkownika @Html.DisplayFor(model => model.User_login)</legend>

        <div class="display-label">
            @Html.DisplayName("Login")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.User_login)
        </div>

        <div class="display-label">
            @Html.DisplayName("Imię")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.User_firstName)
        </div>

        <div class="display-label">
            @Html.DisplayName("Nazwisko")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.User_lastName)
        </div>

        <div class="display-label">
            @Html.DisplayName("Data urodzenia")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.User_birth)
        </div>

        <div class="display-label">
            @Html.DisplayName("E-mail")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.User_email)
        </div>
    </fieldset>
</div>