@model Cooperate_mvc.Models.UserModel

@{
    ViewBag.Title = @Model.Login;
}
<div class="framedContent">
    <fieldset>
        <legend>@Model.Login</legend>

        <div class="display-label">
            @Html.DisplayName("Imię i nazwisko")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FirstName)  @Html.DisplayFor(model => model.LastName)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Birth)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model =>model.Birth)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Email)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>

        @if (Model.Login.Equals(User.Identity.Name))
        {
            <div>
                @Html.ActionLink("Edytuj dane", "Edit", new { login = Model.Login })
            </div>
        }
    </fieldset>
</div>
