@model Cooperate_mvc.Models.UserModel

@{
    ViewBag.Title = @Model.Login;
}
<div class="framedContent">
    <fieldset>
        <legend>@Model.Login</legend>

        @if (!@Model.Login.Equals(User.Identity.Name))
        {
            <div class="sendMessage">
                @Html.ActionLink("Napisz wiadomość do @" + Model.Login, "Chat", "Messages", new { login = Model.Login }, null)
            </div>
        }

        <div>
            @Html.ActionLink("Dodaj użytkownika do grupy, której jesteś członkiem", "AddToGroup", new { login = Model.Login })
        </div>

        <div class="display-label">
            @Html.DisplayName("Imię i nazwisko")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FirstName)  @Html.DisplayFor(model => model.LastName)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Birth)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Birth)
        </div>

        @if (Model.Login.Equals(User.Identity.Name))
        {
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Email)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Email)
            </div>

            <div>
                @Html.ActionLink("Edytuj dane", "Edit", new { login = Model.Login })
            </div>
        }
    </fieldset>
</div>
