@model Cooperate_mvc.Models.User

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (@Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        @Html.DisplayNameFor(model => model.User_login)
    </div>
    <div>
        @Html.TextBoxFor(model => model.User_login)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.User_pass)
    </div>
    <div>
        @Html.PasswordFor(model => model.User_pass)
    </div>
    <div>
        @Html.CheckBox("persistent") Zapamiętaj mnie
    </div>
    <input type="submit" value="Zaloguj" />
}
