@model Cooperate_mvc.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (@Html.BeginForm())
{
    <div id="sign">
        <div id="sign-box">
            @Html.AntiForgeryToken()
            <div>
                @Html.Label("Login")
            </div>
            <div>
                @Html.TextBoxFor(model => model.User_login)
            </div>
            <div>
                @Html.Label("Hasło")
            </div>
            <div>
                @Html.PasswordFor(model => model.User_pass)
            </div>
            <input id="submit" type="submit" value="Zaloguj" />
            <label class="remember" onclick="">
                @Html.CheckBox("persistent")
                <span class="remember-label">Zapamiętaj mnie
                </span>
            </label>
        </div>
    </div>
}
