@model Cooperate_mvc.Models.GroupModel

@{
    ViewBag.Title = "Usuwanie grupy";
}
<h3>Jesteś pewny, że chcesz usunąć tą grupę?</h3>
<fieldset>
    <legend>@Html.DisplayFor(model => model.Name)</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CreationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Usuń" />
        |
        @Html.ActionLink("Wróć do listy", "Index")
    </p>
}