@model Cooperate_mvc.Models.GroupModel

@{
    ViewBag.Title = @Model.Name;
}
<div class="framedContent">
    @if (!ViewBag.IsParticipant)
    {
        @Html.ActionLink("Dołącz do grupy", "Join", new { id = Model.Id })
        <fieldset>
            <legend>@Model.Name</legend>

            <div class="display-label">
                @Html.DisplayName("Data utworzenia")
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.CreationDate)
            </div>
        </fieldset>
    }
    else
    {
        <fieldset>
            <legend>@Model.Name</legend>

            <div class="display-field">
                @Html.DisplayFor(model => model.Description)
            </div>

            <div class="display-label">
                @Html.DisplayName("Data utworzenia")
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.CreationDate)
            </div>

            <div class="display-label">
                @Html.DisplayName("Lista członków")
            </div>
            <div class="display-field">
                <ul>
                    @foreach (var member in Model.Members)
                    {
                        <li>
                            @Html.ActionLink(member.FirstName + " " + member.LastName, "Details", "Account", new { login = member.Login }, null)
                        </li>
                    }
                </ul>
            </div>
        </fieldset>
        <p>
            @if (ViewBag.IsAdmin)
            {
                @Html.ActionLink("Edycja", "Edit", new { id = Model.Id })
            }
        </p>
    }
</div>
