@model Cooperate_mvc.Models.GroupModel

@{
    ViewBag.Title = @Model.Name;
}
<div class="framedContent">
    @if (!ViewBag.IsParticipant)
    {
        @Html.ActionLink("Dołącz do grupy", "Join", new { id = Model.Id })
        <fieldset>
            <legend>@Model.Name</legend>

            <div class="display-label">
                @Html.DisplayName("Data utworzenia")
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.CreationDate)
            </div>
        </fieldset>
    }
    else
    {
        <fieldset>
            <legend>@Model.Name</legend>

            <div class="display-field">
                @Html.DisplayFor(model => model.Description)
            </div>

            <div class="display-label">
                @Html.DisplayName("Data utworzenia")
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.CreationDate)
            </div>

            <div class="display-label">
                @Html.DisplayName("Lista członków")
            </div>
            <div class="display-field">
                <ul>
                    @foreach (var member in Model.Members)
                    {
                        <li>
                            @Html.ActionLink(member.FirstName + " " + member.LastName, "Details", "Account", new { login = member.Login }, null)
                        </li>
                    }
                </ul>
            </div>
            <div>
                @if (ViewBag.IsAdmin)
                {
                    @Html.ActionLink("Edycja", "Edit", new { id = Model.Id })
                }
            </div>
        </fieldset>
        <hr />
        <div id="Posts">
            @using (Ajax.BeginForm("AddPost", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "PostsList", InsertionMode = InsertionMode.InsertBefore, OnComplete = "$('PostText').val('');" })) // TODO: OnComplete coś nie działa
            {
                @Html.HiddenFor(model => model.Id)
                <textarea cols="20" id="PostText" name="PostText" rows="2"></textarea>
                <input type="submit" id="PostSubmit" value="Dodaj post" />
            }
            <div id="PostsList">
                @foreach (var post in ViewBag.Posts)
                {
                    <span>
                        @Html.Partial("_Post", (Cooperate_mvc.Models.PostModel)post)
                    </span>
                }
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    var ws;

    function $(id) {
        return document.getElementById(id);
    }

    function createSpan(text) {
        var span = document.createElement('span');
        span.innerHTML = text;
        return span;
    }

    window.onload = function () {
        //var websocketDebug = $('websocketDebug');
        var comments = $('PostsList');
        var url = 'ws://localhost:58930/GroupsSocketHandler.ashx?login=@User.Identity.Name';

        ws = new WebSocket(url);

        //ws.onerror = function (e) {
        //    websocketDebug.appendChild(createSpan('Problem with connection: ' + e.message));
        //};

        //ws.onopen = function () {
        //    websocketDebug.innerHTML = 'Client connected <br/>';
        //};

        ws.onmessage = function (e) {
            comments.insertBefore(createSpan(e.data.toString()), comments.firstChild);

        };

        //ws.onclose = function () {
        //    websocketDebug.innerHTML = 'Closed connection!';
        //};

    };
</script>
