@model IEnumerable<Cooperate_mvc.Models.GroupModel>

@{
    ViewBag.Title = "Twoje grupy";
}
<div class="framedContent">
    <div class="indexList">
        <div class="create">
            @Html.ActionLink("Utwórz nową", "Create")
        </div>

        @foreach (var item in Model)
        {
            <fieldset>
                <legend>
                    @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                </legend>
                <div class="description">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
                <div class="info">
                    Utworzono @Html.DisplayFor(modelItem => item.CreationDate)
                </div>
                @if (item.IsAdmin)
                {
                    <div class="links">
                        @Html.ActionLink("Edytuj", "Edit", new { id = item.Id })
                        | 
                        @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                    </div>
                }
            </fieldset>
        }
    </div>
</div>
